@font-face {
  font-family: "Akrobat";
  src: url("./akrobat/Akrobat-Regular.ttf");
}
* {
  font-family: "Akrobat";
  font-weight: 300, 400, 500, 600;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

.scroll-hide {
  transform: translateY(-100%);
  transition: transform 0.4s ease;
}

.fade-text {
  opacity: 1;
  transition: opacity 0.5s ease;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-fade-out {
  animation: fade-out 1s ease-in-out 1s forwards;
}

.clear {
  clear: both;
}
/* nassime */

.checkBox {
  display: block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #374151;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.checkBox div {
  width: 60px;
  height: 60px;
  background-color: #fff;
  top: -52px;
  left: -52px;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 100;
}

.checkBox input[type="checkbox"]:checked + div {
  left: -20px;
  top: -20px;
}

.nassime button {
  color: #f6f1f1;
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  margin: 55px 15px;
  padding: 13px 38px;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 50px;
}

#btn2 {
  font-family: "Open Sans", sans-serif;
  background: rgb(12, 119, 138);
  font-weight: 500 !important;
}

.nassime button:before {
  content: "";
  position: absolute;
  height: 30px;
  width: 15px;
  background: #ffffff;
  box-shadow: 0 0 6px #fff;
  filter: blur(20px);
  opacity: 1.7;
  top: 22%;
  transition: 1.6s;
  overflow: hidden;
}

.nassime button:hover:before {
  transform: translate(80px, 0px);
}

.checkBox input[type="checkbox"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.transition {
  transition: 1000ms ease-in;
}

/* Mehdi's CSS */

.mehdi button {
  color: #f6f1f1;
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  margin: 0 15px;
  padding: 13px 38px;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 50px;
}

#btn1 {
  font-family: "Open Sans", sans-serif;
  background: rgb(12, 119, 138);
  font-weight: 500 !important;
}

.mehdi button:before {
  content: "";
  position: absolute;
  height: 200px;
  width: 15px;
  background: #ffffff;
  box-shadow: 0 0 6px #fff;
  filter: blur(20px);
  opacity: 1.7;
  top: -30px;
  transition: 1.6s;
  overflow: hidden;
}

.mehdi button:hover:before {
  transform: translate(100px, 0px);
}

/*scroll*/

.cup {
  position: fixed;
  bottom: 20px;
  left: 30px;
  height: 65px;
  width: 65px;
  place-items: center;
  border-top: 1px solid transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #fff, 0 20px 55px rgba(0, 0, 0, 1);
  cursor: pointer;
}

.cup:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 35px;
  left: 65px;
  top: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.water {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.water .wave {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(./Assets/water.png);
  animation: animate 1s linear infinite;
}
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 200px;
  }
}

#particles-js {
  height: 90vh;
  width: 100%;
}
