

button{
    color: #f6f1f1;
    position: relative;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0 15px;
    padding: 13px 38px;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 50px;
}

#btn1{
    background: rgb(12, 119, 138);

}

button:before{
    content: '';
    position: absolute;
    height: 200px;
    width: 15px;
    background: #ffffff;
    box-shadow: 0 0 6px #fff;
    filter: blur(20px);
    opacity: 1.7;
    top: -30px;
    transition:  1.6s;
    overflow: hidden;
}

button:hover:before{
    transform: translate(100px, 0px);
}

